@charset "UTF-8";
body{
    overflow: clip;
}

    #child2 {
      background-color: rgb(168, 246, 168);
      float: right;
      width: 380px;
      height: 98vh;
    }

    #name1{
      color: white;
        margin: 10px 250px 10px 10px ;
    }

    #name2{
        margin: 10px;
    }

    #dateDisplay{
        font-size: 30px;
        text-align: center;
    }

    #roomname{
        font-size: 30px;
        text-align: center;
    }

    #seetcount{
        font-size: 30px;
    }

    /* 座席上 */
    .field {
      display: flex;
      justify-content: center;
      padding-top: 150px;
  }

    /* 座席下 */
    .ufield {
      display: flex;
      justify-content: center;
      padding-bottom: 250px;
  }

    #square1 {

      border: medium groove black;
      width: 150px;
      height: 150px;
      background: #59b8f3;
      text-align: center;
      font-size: 30px;
  }
    #square2 {

    border: medium groove black;
    width: 150px;
    height: 150px;
    background: #59b8f3;
    text-align: center;
    font-size: 30px;
}


    #square3 {

  border: medium groove black;
  width: 150px;
  height: 150px;
  background: #eb2052;
  text-align: center;
  font-size: 30px;
  
}
#square4 {

  border: medium groove black;
  width: 150px;
  height: 150px;
  background: #59b8f3;
  text-align: center;
  font-size: 30px;
}
#square5 {

  border: medium groove black;
  width: 150px;
  height: 150px;
  background: #59b8f3;
  text-align: center;
  font-size: 30px;
}
#square6 {

  border: medium groove black;
  width: 150px;
  height: 150px;
  background: #eb2052;
  text-align: center;
  font-size: 30px;
}

  

/* ホームボタンデザイン */
.button008 a {
    background: #eee;
    position: relative;
    top : 10px;
    left : 10px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 ;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
}
.button008 a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #6bb6ff;
    transition: .3s;
    left:0;
}
.button008 a:hover {
    color: #FFF;
}
.button008 a:hover:before {
    width: 100%;
    z-index: -1;
}

/* 予約するボタンデザイン */
.button_solid008 a{
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button_solid008 a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #bbbbbb;
  transition: 0.2s ease 0s;
}

.button_solid008 a::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -7px;
  width: 2px;
  height: 100%;
  background-color: #bbbbbb;
  transition: 0.2s ease 0.2s;
}

.button_solid008 a:hover::before {
  width: 0%;
}

.button_solid008 a:hover::after {
  height: 0%;
}

.button_solid008 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

/* 利用中止ボタンデザイン */
.button_solid008a a{
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button_solid008a a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #bbbbbb;
  transition: 0.2s ease 0s;
}

.button_solid008a a::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -7px;
  width: 2px;
  height: 100%;
  background-color: #bbbbbb;
  transition: 0.2s ease 0.2s;
}

.button_solid008a a:hover::before {
  width: 0%;
}

.button_solid008a a:hover::after {
  height: 0%;
}

.button_solid008a a:hover {
  text-decoration: none;
  background-color: #ccc;
}
/* ボックスデザイン */
.box11{
  position: fixed;
  top: 300px;
  width: 368px;
    padding: 0.5em 1em;
    margin: 5em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
    margin: 0; 
    padding: 0;

}

/* グラデーションをアニメーションで切り替え */
.colorchangeanime_bg {
    height: 100vh;
    margin:  0;
    background: linear-gradient(45deg, #4f546c 0%, #6ccbe5 50%, #2f19f5 100%) 0 0 / 200% 100% repeat;
    animation: colorchangeanimation-bg 5s infinite alternate;
   
  }

.colorchangeanime_bg_blue {
    height: 100vh;
    margin:  0;
    background: linear-gradient(45deg, #6bb6ff 0%, #2b52ff 50%, #85e3ec 100%) 0 0 / 200% 100% repeat;
    animation: colorchangeanimation-bg 5s infinite alternate;
   
  }

  .colorchangeanime_bg_red {
    height: 100vh;
    margin:  0;
    background: linear-gradient(45deg, #ae2d56 0%, #ff0000 50%, #c84e85 100%) 0 0 / 200% 100% repeat;
    animation: colorchangeanimation-bg 5s infinite alternate;
   
  }

/* 右画面デザイン */
.rightdisplay {
  background: #3f3f3f;
  background-image:
    linear-gradient(#0084ff 1px, transparent 0),
    linear-gradient(90deg, #0084ff 1px, transparent 0);
  background-size: 30px 30px;
      float: right;
      width: 400px;
      height: 100vh;
    
}

@keyframes colorchangeanimation-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* 入力フォーム */
.c-form-text {
    height: 3em;
    width: 60%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    margin: 10px 10px 10px 50px ;

}

.c-form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.c-form-text2 {
  
  height: 3em;
  width: 60%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  margin: 10px 10px 10px 50px ;

}

.c-form-text2:focus{
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}



/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin : 10px auto;
}

/*
 * 角度の値を保持するCSS変数を定義
 * 対応ブラウザ: https://caniuse.com/?search=%40property
 */
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.buttonOutlineGlow {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 2px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #939393;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

.buttonOutlineGlow_bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: conic-gradient(from var(--angle), #0199e5, #5eeaf4, #0c004f, #00c8ff, #0376fa);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
  opacity: 0;
  animation: gradient-spin 3s linear 0s infinite;
}

@keyframes gradient-spin {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

.buttonOutlineGlow_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

@media (any-hover: hover) {
  .buttonOutlineGlow .buttonOutlineGlow_bg {
    transition: opacity 0.3s;
  }

  .buttonOutlineGlow:hover {
    background-color: #002aff;
  }

  .buttonOutlineGlow:hover .buttonOutlineGlow_bg {
    opacity: 1;
  }
}




/* グラデーションボタン*/
/* aタグのリセットCSS（不要な場合、セレクタごと削除してください） */
a {
  color: inherit;
  text-decoration: none;
  margin: 0 auto;

}

/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
  position: fixed;
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ボタンのスタイル */
.buttonOutlineGradient {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 2px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  overflow-wrap: anywhere;
  background: linear-gradient(135deg, #e61f1f, #a53f8d);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

.buttonOutlineGradient::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(135deg, #d84458, #f71494);
  filter: blur(8px);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
  opacity: 0;
}

.buttonOutlineGradient_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #222;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

@media (any-hover: hover) {
  .buttonOutlineGradient::before {
    transition: opacity 0.2s;
    will-change: filter;
  }

  .buttonOutlineGradient:hover::before {
    opacity: 1;
  }
}

/* ポップアップ表示（予約） */
#sq1btn {
  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
}

#popup-wrapper {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popup-inside {
  text-align: center;
  width: 100%;
  max-width: 600px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

#message a {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

#close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

/* ポップアップ表示（キャンセル） */
/* #click-btn6 {
  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
}

#popup-wrapper6 {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popup-inside6 {
  text-align: center;
  width: 100%;
  max-width: 600px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

#message6 a {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

#close6 {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

#output{
  position: fixed;
  top: 150px;
  color: white;
  font-size: 20px;
} */