
/* ポップアップ表示（座席１） */
#sq1btn_c {
  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
}

#popup-wrapper1 {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popup-inside1 {
  text-align: center;
  width: 100%;
  max-width: 600px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

#message1 a {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

#close1 {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

/* ポップアップ表示（座席２） */
#sq2btn {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper2 {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside2 {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message2 a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close2 {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }
/* キャンセル */
  #sq2btn_c {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper2c {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside2c {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message2c a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close2c {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

  /* ポップアップ表示（座席３） */
#sq3btn {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper3 {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside3 {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message3 a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close3 {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

  /* キャンセル */
  #sq3btn_c {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper3c {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside3c {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message3c a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close3c {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

    /* ポップアップ表示（座席４） */
#sq4btn {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper4 {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside4 {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message4 a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close4 {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

  /* キャンセル */
  #sq4btn_c {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper4c {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside4c {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message4c a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close4c {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

      /* ポップアップ表示（座席５） */
#sq5btn {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper5 {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside5 {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message5 a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close5 {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

  /* キャンセル */
  #sq5btn_c {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper5c {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside5c {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message5c a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close5c {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

      /* ポップアップ表示（座席６） */
#sq6btn {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper66 {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside66 {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message66 a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close66 {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

  /* キャンセル */
  #sq6btn_c {
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: white;
    border: 0;
    padding: 6px 10px;
  }
  
  #popup-wrapper6c {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside6c {
    text-align: center;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
  }
  
  #message6c a {
    background: purple;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #close6c {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }